/* You can add global styles to this file, and also import other style files */

.font-family-barlow { font-family: 'Barlow', sans-serif; }
.font-family-big-shoulders { font-family: 'Big Shoulders Display', cursive; }
.font-family-maven { font-family: 'Maven Pro', sans-serif; }